

#menu-toggle:hover {

}

#menu-toggle {
    color: #337ab7;
    border: 1px solid #337ab7;
    background-color: white;
}

#menu-toggle:hover {

}

#wrapper.toggled #menu-toggle {
    color: #337ab7;
    border: 1px solid #337ab7;
    background-color: #001233;
}

#wrapper.toggled #menu-toggle:hover {
    color: #00bbff;
    border-color: #00bbff;
}

#login-dropdown {
    margin-top: 2%;
}

#login-dropdown button {
    background: none;
    color: #337ab7;
    border: 1px solid #337ab7;
    margin-top: 1%;
}

#login-dropdown button:hover {
    color: #00bbff;
    border-color: #00bbff;
}

.login-row {
    margin-top: 2%;
}

.nav-item .navbar-brand {
    background: none;
    color: #00bbff;
    font-weight: bold;
}

.nav-item .navbar-brand:hover {
    background: #00131a;
}

.navbar-brand {
    font-size: 175%;
}

.nav-item .navlink {
    font-size: 125%;
}

.udacity-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 2%;

    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
}

.twilio-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 2%;

    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
}

.code-icon {
    position: absolute;
    left: -6%;
    color: deepskyblue;
}

.rss-feed-icon {
    position: absolute;
    left: -5%;
    color: red;
}

.about-icon {
    position: absolute;
    left: -5%;
    color: cyan;
}

.contact-icon {
    position: absolute;
    left: -5%;
    color: brown;
}

@media only screen and (max-width: 1260px) {
    #wrapper.toggled #sidebar-wrapper {
        width: 204px;
    }
    #wrapper.toggled #page-content-wrapper .navbar-fixed-top {
        margin-left: 204px;
    }
}

@media only screen and (min-width: 1261px) {
    #wrapper.toggled #sidebar-wrapper {
        width: 17%;
        max-width: 305px;
    }

    #wrapper.toggled #page-content-wrapper .navbar-nav {
        margin-left: 305px;
    }


}

@media only screen and (min-width: 798px) {

}

/*[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

[ng\:if], [ng-if], .ng-if {
  display: none !important;
}*/