#menu-toggle:hover {

}

#menu-toggle {
    color: #337ab7;
    border: 1px solid #337ab7;
    background-color: white;
}

#wrapper.toggled #menu-toggle {
    color: #00e600;
    border: 1px solid #00e600;
}

.login-row {
    margin-top: 2%;
}

.nav-item .navbar-brand:hover {
    background: none;
}

.nav-header {
    width: 100%;
    height: 20%;
    background: url("") no-repeat center;
}

.navbar-brand {
    font-size: 175%;
}

.nav-item .navlink {
    font-size: 125%;
}
.udacity-logo, .twilio-logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5%
}

.rss-feed- {

}

.code-forum-link {}

.
